{% extends "base.html" %}

{% block content %}
    <h1>{{ order.name }}</h1>
    <p>Order cost: {{ order.price }} {{ order.currency }}</p>
    {% for record in order.record_set.all %}
        {% if record.type == 'image' %}
            <img src="{{ record.asset }}" style="max-width: 200px; max-height: 200px;">
            {% if record.is_done %}
                {{ record.labeled_as }}
            {% else %}
                No data available yet
            {% endif %}
        {% endif %}
        <hr>
    {% endfor %}
{% endblock %}