{% extends "base.html" %}

{% block content %}
    {% if not record %}
        <p>No data to label. Please come back soon.</p>
    {% else %}
        <p>{{ record.description }}</p>
        {% if record.type == 'image' %}
            <img src="{{ record.asset }}" style="max-width: 400px; max-height: 400px;">
        {% elif record.type == 'text' %}
            <div class="text-resource">{{record.asset}}</div>
        {% else %}
            Error occured
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Answer">
        </form>
    {% endif %}
{% endblock %}
