{% extends "base.html" %}

{% block content %}
    {% regroup object_list by is_done as orders_groups %}
    {% for group in orders_groups %}
        {% if group.grouper %}
            <h1>In progress</h1>
        {% else %}
            <h1>Done</h1>
        {% endif %}
        {% for order in group.list %}
            <a href="{% url "orders:details" pk=order.pk %}">{{ order.name }}</a> / {% widthratio order.records_done order.records_total 100 %}%<br>
        {% endfor %}
    {% endfor %}

    <hr>
    <a href="{% url "orders:new" %}">New order</a>
{% endblock %}