<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Label Me</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            {{ user.get_full_name }} | <a href="{% url "orders:list" %}">My orders</a> | <a href="{% url "orders:label" %}">Earn some coins</a> | <a href="{% url "users:logout" %}">Log out</a>
        {% endif %}
        <hr>
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    </header>
{% block content %}
{% endblock %}
</body>
</html>